{
  "name": "Actors",
  "version": "v2",
  "path": "/actors",
  "url": "{{ abaco_api_protocol }}://{{ abaco_frontend_base_url_or_ip }}/actors",
  "visibility": "public",
  "roles": [],
  "methods": ["GET", "POST", "PUT", "DELETE", "HEAD"],
  "auth": "oauth"
}