{
  "name": "AdminServices",
  "version": "v2",
  "path": "/admin",
  "url": "http://admin:5000/admin",
  "visibility": "restricted",
  "roles": ["Internal_{{ tenant_id }}-services-admin"],
  "methods": ["GET", "POST", "PUT", "DELETE", "HEAD"],
  "auth": "oauth"
}