{
  "name": "UUIDs",
  "version": "v2",
  "path": "/uuids",
  "url": "{{ agave_api_protocol }}://{{ agave_frontend_host }}/uuids",
  "visibility": "public",
  "roles": [],
  "methods": ["GET", "POST", "HEAD"],
  "auth": "oauth"
}