{% extends "page.html" %}

{% block login_widget %}
{% endblock %}

{% block main %}

{% block login %}
<div id="login-main" class="container">
{% if custom_html %}
{{ custom_html }}
{% elif login_service %}
<div class="service-login">
  <a class='btn btn-jupyter btn-lg' href='{{login_url}}'>
    {{ login_service }}
  </a>
</div>
{% else %}
<form action="{{login_url}}?next={{next}}" method="post" role="form">
  <div class="auth-form-header">
    Sign in
  </div>
  <div class='auth-form-body'>
    {% if login_error %}
    <p class="login_error">
      {{login_error}}
    </p>
    {% endif %}
    <label for="username_input">Username:</label>
    <input
      id="username_input"
      type="username"
      autocapitalize="off"
      autocorrect="off"
      class="form-control"
      name="username"
      val="{{username}}"
      tabindex="1"
      autofocus="autofocus"
    />
    <label for='password_input'>Password:</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="password_input"
      tabindex="2"
    />

    <input
      type="submit"
      id="login_submit"
      class='btn btn-jupyter'
      value='Sign In'
      tabindex="3"
    />
  </div>
</form>
{% endif %}
</div>
{% endblock login %}

{% endblock %}

{% block script %}
{{super()}}

{% endblock %}
