{% for obj in servers_by_role %}
[{{ obj.role_name }}]
{% for s in obj.servers %}
{{ s.uuid }} ansible_ssh_host={{ s.ssh_host }} ansible_ssh_user={{ s.ssh_user }} ansible_ssh_private_key_file={{ s.absolute_path_ssh_key }} {% for p in s.properties %} {% for k, v in p.items() %} {{ k }}={{ v }} {% endfor %}{% endfor %}

{% endfor %}
{% endfor %}
