import os

{% if use_swarm %}
# Point DockerSpawner to Swarm instead of the local DockerEngine
os.environ["DOCKER_HOST"] = "172.17.0.1:4000"
{% endif %}

c.JupyterHub.spawner_class = 'dockerspawner.DockerSpawner'

c.JupyterHub.confirm_no_ssl = True

import netifaces
docker0 = netifaces.ifaddresses('eth0')
docker0_ipv4 = docker0[netifaces.AF_INET][0]
c.JupyterHub.hub_ip = docker0_ipv4['addr']
c.JupyterHub.proxy_api_ip = '0.0.0.0'

{% if use_swarm %}
c.DockerSpawner.container_ip = '0.0.0.0'
c.DockerSpawner.hub_ip_connect = '{{ hub_ip_for_notebooks }}'
{% else %}
c.DockerSpawner.container_ip = '{{ docker_spawner_container_ip }}'
c.DockerSpawner.hub_ip_connect = c.JupyterHub.hub_ip
{% endif %}
c.DockerSpawner.use_internal_ip = False

c.DockerSpawner.container_image = os.environ['USER_IMAGE']
# We want to remove containers when the user logs out to preserve resources and to prevent stale access tokens from being
# reused when they log back in.
c.DockerSpawner.remove_containers = True
#c.DockerSpawner.remove_containers = False
c.Spawner.http_timeout = 90

c.SystemUserSpawner.host_homedir_format_string = '/home/apim'

# to spawn user containers in privileged mode:
# c.DockerSpawner.extra_host_config = {'privileged': True}

c.JupyterHub.authenticator_class = 'oauthenticator.AgaveOAuthenticator'

c.AgaveOAuthenticator.oauth_callback_url = os.environ['OAUTH_CALLBACK_URL']
c.AgaveOAuthenticator.client_id = os.environ['AGAVE_CLIENT_ID']
c.AgaveOAuthenticator.client_secret = os.environ['AGAVE_CLIENT_SECRET']
c.AgaveOAuthenticator.agave_base_url = os.environ['AGAVE_BASE_URL']

c.AgaveMixin.agave_base_url = os.environ['AGAVE_BASE_URL']
