# image to use for jupyterhub
jupyterhub_image: {{ jupyterhub_image }}

# image to use for the user's notebook server
jupyter_user_image: {{ jupyter_user_image }}

# if true, this will create an nfs server on the manager host and nfs mounts for the token and user share directories
# allowing for persisting data across a cluster of nodes. Some tenants, such as designsafe, have a special host with a
# custom nfs. they should set this to false.
use_stock_nfs: {{ use_stock_nfs }}

# Whether to mount projects; if true, requires a host_projects_root_dir and host_projects_root_dir settings for each
# tenant specifying the root directory on the host (resp, container) of all projects dirs.
mount_projects: {{ mount_projects }}

worker_tasks_file: {{ worker_tasks_file }}

# list all tenants for the jupyterhub instance in the jupyterhub_tenants collection
jupyterhub_tenants:
    - tenant_id: {{ tenant_id }}
      jupyter_host: {{ jupyterhub_host }}
      jupyter_key_file: jupyterhub.key
      jupyter_cert_file: jupyterhub.cer
      port: 8001
      oauth_callback_url: {{ jupyterhub_oauth_callback }}
      oauth_validate_cert: {{ oauth_validate_cert }}
      jupyteruser_uid: 458981
      jupyteruser_gid: 816877
      agave_client_id: {{ jupyterhub_oauth_client_id }}
      agave_client_secret: {{ jupyterhub_oauth_client_secret }}
      agave_base_url: {{ jupyterhub_tenant_base_url }}
      agave_login_button_text: {{ jupyterhub_login_button_text }}
{% if host_projects_root_dir is defined %}
      host_projects_root_dir: {{ host_projects_root_dir }}
{% endif %}
{% if container_projects_root_dir is defined %}
      container_projects_root_dir: {{ container_projects_root_dir }}
{% endif %}
{% if agave_storage_system is defined %}
      agave_storage_system: {{ agave_storage_system }}
{% endif %}
{% if tas_gid is defined %}
      tas_gid: {{ tas_gid }}
{% endif %}
