---

rabbitmq_{{ rabbitmq_type }}:
  image: rabbitmq:{{ rabbitmq_verion }}-management
  restart: on-failure
  ports:
  - '{{ rabbitmq_port }}:5671'
  - '{{ rabbitmq_port2 }}:5672'
  - '{{ rabbitmq_port3 }}:15671'
  - '{{ rabbitmq_port4 }}:15672'
  volumes:
  - ./rabbitmq_{{ rabbitmq_type }}_data:/var/lib/rabbitmq
