---

redis_{{ redis_type }}:
   image: redis:{{ redis_version }}
  ports:
      - '{{ redis_host_port }}:6379'
  restart: always
  command: redis-server --appendonly yes
  volumes:
      - ./redis_{{ redis_type }}_data:/data
