---

mysql_{{ mysql_type }}:
   image: mysql:{{ mysql_version }}
   ports:
     - '{{ mysql_host_port }}:3306'
   volumes:
     - ./{{ mysql_type }}_my.cnf:/etc/mysql/my.cnf
     - ./mysql_{{ mysql_type }}_data:/var/lib/mysql
   restart: always
   environment:
{% if mysql_database is defined %}
     MYSQL_DATABASE: {{ mysql_database }}
{% endif %}
{% if mysql_root_user is defined %}
     MYSQL_ROOT_USER: {{ mysql_root_user }}
{% endif %}
     MYSQL_USER: {{ mysql_user }}
     MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
     MYSQL_PASSWORD: {{ mysql_password }}

