---

migrate:
  image: {{ agave_migrations_image }}
  command: "./flyway -url=$URL -user=$MYSQL_USER -schemas=$MYSQL_DATABASE -table=migrations migrate"
  environment:
      AGAVE_VERSION: '{{ agave_version }}'
      MYSQL_USER: '{{ mysql_user }}'
      MYSQL_PASSWORD: '{{ mysql_password }}'
      MYSQL_HOST: '{{ mysql_host }}'
      MYSQL_PORT: '{{ mysql_host_port }}'
      MYSQL_DATABASE: '{{ mysql_database }}'
      MYSQL_PARMS: 'zeroDateTimeBehavior=convertToNull&amp;sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true&amp;tinyInt1isBit=false'
      URL: "jdbc:mysql://$MYSQL_HOST:$MYSQL_PORT/$MYSQL_DATABASE?$MYSQL_PARAMS"

