#!/bin/bash

# Create the admin user
docker exec -i persistence_mongo_agave_1 mongo admin << EOF
db.createUser({ user: '{{ mongo_admin_user }}', pwd: '{{ mongo_admin_password }}', roles: [ "root" ] })
EOF

# Create the api user and api database
docker exec -i persistence_mongo_agave_1 mongo admin -u adminuser -p password << EOF
use api
db.createUser({ user: '{{ mongo_user }}', pwd: '{{ mongo_password }}', roles: [ { role: "readWrite", db: "api" } ] })
EOF

# Create our db, collections and indexes
docker exec -i persistence_mongo_agave_1 mongo admin -u "{{ mongo_admin_user }}" -p "{{ mongo_admin_password }}" << EOF
use api
db.createCollection("metadata")
db.createCollection("schemata")
db.metadata.createIndexes([{"uuid":1},{"owner":1},{"tenantId":1},{"name":1},{"associationIds":1}])
EOF