---
version: "3"
services:
    oauth-lb:
        image: {{ oauth_lb_image }}
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./oauth-config.yml:/values.yml
        restart: unless-stopped
        networks:
            - auth

networks:
    auth:
        driver: bridge
