update_auth_dns: {{ update_auth_dns }}
tenant_id: {{ tenant }}
host: {{ base_url }}
tenant_admin_role: {{ tenant_admin_role }}

core_frontend_base_url_or_ip: {{ agave_frontend_host }}
core_frontend_sandbox_base_url_or_ip: {{ agave_frontend_sandbox_host }}
core_api_protocol: {{ agave_api_protocol }}

agave_profiles_url: profiles/profiles

deploy_admin_password_grant: {{ deploy_admin_password_grant }}
access_token_validity_time: {{ access_token_validity_time }}
deploy_custom_oauth_app: {{ deploy_custom_login_app }}
update_apim_core_dns: False
apim_increase_global_timeout: {{ apim_increase_global_timeout }}
deploy_admin_services: False

abaco_api_protocol: {{ abaco_api_protocol }}
abaco_frontend_base_url_or_ip: {{ abaco_frontend_base_url_or_ip }}


# -----
# MYSQL
# -----
mysql_host: {{ oauth_mysql_host }}
mysql_port: {{ oauth_mysql_port }}

# ------------------
# IDENTITY & CLIENTS
# ------------------

# whether or not to deploy the agave_id service container with agaveldap.
use_hosted_id: {{ use_hosted_id }}

# When true, the services will not make any updates.
agave_id_read_only: {{ agave_id_read_only }}

# unigue id for the "domain name" of the userstore in APIM
hosted_id_domain_name: {{ hosted_id_domain_name }}

# URL or service discovery token for the hosted LDAP instance (including "ldap(s)://" and port)
ldap_name: {{ oauth_ldap_full_connection_uri }}

# account to bind to the LDAP db
auth_ldap_bind_dn: {{ oauth_ldap_bind_dn }}

# custom ldap configs
auth_ldap_max_user_name_list_length: {{ oauth_ldap_max_user_name_list_length }}
auth_ldap_max_role_name_list_length: {{ oauth_ldap_max_role_name_list_length }}
auth_ldap_member_of: {{ oauth_ldap_member_of }}
auth_ldap_group_search_base: {{ oauth_ldap_group_search_base }}
auth_ldap_user_search_filter: {{ oauth_ldap_user_search_filter }}

# base search directory for user accounts
ldap_base_search_dn: {{ oauth_ldap_base_search_dn }}

# Whether or not to check the JWT; When this is False, certain features will not be available such as the
# "me" lookup feature since these features rely on profile information in the JWT.
agave_id_check_jwt: {{ profiles_check_jwt }}

# Actual header name that will show up in request.META; value depends on APIM configuration, in particular
# the tenant id specified in api-manager.xml
jwt_header: {{ jwt_header }}

# Absolute path to the public key of the APIM instance; used for verifying the signature of the JWT.
# legacy config that isn't used currently --
agave_id_apim_pub_key: {{ agave_id_apim_pub_key }}

# APIM Role required to make updates to the LDAP database
agave_id_user_admin_role: {{ agave_id_user_admin_role }}

# Whether or not the USER_ADMIN_ROLE before allowing updates to the LDAP db (/users service)
agave_id_check_user_admin_role: {{ agave_id_check_user_admin_role }}

# legacy config -- should always be set to False
use_custom_ldap: False

# Base URL of this instance of the service. Used to populate the hyperlinks in the responses.
agave_id_app_base: {{ agave_id_app_base }}

# DEBUG = True turns up logging and causes Django to generate excpetion pages with stack traces and
# additional information. Should be False in production.
# Updated -- 8/2015: Due to a bug in django, we currently set this to true so that the ALLOWED_HOSTS filtering is
# not activated.
agave_id_debug: {{ profiles_debug }}

{% if oauth_clients_additional_apis is defined %}
agave_clients_additional_apis:
{% for api in oauth_clients_additional_apis %}
    - name: {{ api.name }}
      version: {{ api.version }}
      provider: {{ api.provider }}
{% endfor %}
{% endif %}

# Beanstalk configs are legacy; turned off in the defaults.py:
agave_id_create_notifications: False
beanstalk_server: {{ beanstalk_server }}
beanstalk_port: {{ beanstalk_port }}
beanstalk_tube: {{ beanstalk_tube }}
beanstalk_srv_code: {{ beanstalk_srv_code }}
tenant_uuid: {{ beanstalk_tenant_uuid }}


# -----
# HTTPD
# -----
# cert file - should be a path relative to the httpd directory contained within the tenant directory for this tenant
# inside the tenants directory: e.g. deploy/tenants/dev_staging/httpd
cert_file: {{ oauth_proxy_cert_file }}

# cert key file - should be a path relative to the httpd directory contained within the tenant directory for this tenant
# inside the tenants directory: e.g. deploy/tenants/dev_staging/httpd
cert_key_file: {{ oauth_proxy_cert_key_file }}

# add when mounting in a CA cert (not used for self-signed certs) - should be a path relative to the httpd directory contained within the tenant directory for this tenant
# inside the tenants directory: e.g. deploy/tenants/dev_staging/httpd
{% if oauth_proxy_ca_cert_file %}
ssl_ca_cert_file: {{ oauth_proxy_ca_cert_file }}
{% endif %}

# --------
# HA Proxy -- legacy configs; these don't need to change
# --------
ha_deployment: True
hap_servers:
    - name: auth1a
      ip: a_proxy_1
      port: 80
      ssl_port: 443
    - name: auth1b
      ip: b_proxy_1
      port: 80
      ssl_port: 443
