---

version: "3"
services:
    proxy:
        image: {{ proxy_image }}
        ports:
            - "5080:80"
            - "50443:443"
        volumes:
            - ./oauth-config.yml:/values.yml
{% if virtualhosts is defined %}
{% for vhost in virtualhosts %}
            - {{ vhost.cert_file }}:/etc/apache2/ssl/certs/{{ vhost.base_cert_path }}/{{ vhost.cert_file }}
            - {{ vhost.cert_key_file }}:/etc/apache2/ssl/private/{{ vhost.base_cert_path }}/{{ vhost.cert_key_file }}
{% if vhost.ssl_ca_cert_file is defined %}
            - {{ vhost.ssl_ca_cert_file }}:/etc/apache2/ssl/certs/{{ vhost.base_cert_path }}/{{ vhost.ssl_ca_cert_file }}
{% endif %}
{% if vhost.ssl_ca_chain_file is defined %}
            - {{ vhost.ssl_ca_chain_file }}:/etc/apache2/ssl/certs/{{ vhost.base_cert_path }}/{{ vhost.ssl_ca_chain_file }}
{% endif %}
{% endfor %}
{% else %}
            - {{ oauth_proxy_cert_file }}:/etc/apache2/ssl/certs/{{ oauth_proxy_cert_file }}
            - {{ oauth_proxy_cert_key_file }}:/etc/apache2/ssl/private/{{ oauth_proxy_cert_key_file }}
{% if oauth_proxy_ca_cert_file is defined and oauth_proxy_ca_cert_file %}
            - {{ oauth_proxy_ca_cert_file }}:/etc/apache2/ssl/certs/{{ oauth_proxy_ca_cert_file }}
{% endif %}
{% endif %}
{% if environment %}
        environment:
{% for var, value in service_environment.items() %}
            - '{{ var }}={{ value }}'
{% endfor %}
{% endif %}
        restart: unless-stopped
        networks:
            - {{ tenant }}_auth

    apim:
        image: {{ apim_image }}
        ports:
            - "9453:9443"
            - "8243"
            - "6284"
        volumes:
            - ./oauth-config.yml:/values.yml
        environment:
{% for var, value in service_environment.items() %}
            - '{{ var }}={{ value }}'
{% endfor %}
        restart: unless-stopped
        networks:
            - {{ tenant }}_auth

    profiles:
        image: {{ profiles_image }}
        ports:
            - "33999:80"
        volumes:
            - ./oauth-config.yml:/values.yml
        environment:
{% for var, value in service_environment.items() %}
            - '{{ var }}={{ value }}'
{% endfor %}
        restart: unless-stopped
        networks:
            - {{ tenant }}_auth

    clients:
        image: {{ clients_image }}
        volumes:
            - ./oauth-config.yml:/values.yml
        environment:
{% for var, value in service_environment.items() %}
            - '{{ var }}={{ value }}'
{% endfor %}
        restart: unless-stopped
        networks:
            - {{ tenant }}_auth

    admin:
        image: {{ apim_admin_image }}
        ports:
            - "5001:5000"
        environment:
            - 'package=/services/accounts'
            - 'base_url=proxy'
            - 'apim_base_url=apim'
            - 'port=9443'
            - 'wso2admin_username=admin'
            - 'wso2admin_password={{ apim_admin_pass }}'
        networks:
            - {{ tenant }}_auth

networks:
    {{ tenant }}_auth:
        external: true
