---

ldap_{{ ldap_type }}:
  image: tacc/slapd
  ports:
      - "{{ ldap_host_port }}:389"
  environment:
      LDAP_DOMAIN: agaveapi
      LDAP_ORGANISATION: "Agave"
      LDAP_ROOTPASS: {{ oauth_ldap_bind_password }}
  volumes:
      - ./ldap_{{ ldap_type }}_data/ldap:/data/ldap
