---

  migrate:
      image: {{ oauth_migrations_image }}
      environment:
          # db connectivity --
          MYSQL_ROOT_USER: {{ mysql_root_user }}
          MYSQL_LOGIN_HOST: {{ mysql_login_host }}
          MYSQL_LOGIN_PORT: {{ mysql_host_port }}
          MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}

          # apim config --
          tenant_id: {{ tenant_id }}

          # agave config --
          core_api_protocol: {{ core_api_protocol }}
          core_frontend_base_url_or_ip: {{ core_frontend_base_url_or_ip }}
          core_frontend_sandbox_base_url_or_ip: {{ core_frontend_sandbox_base_url_or_ip }}

          # abaco config --
          abaco_api_protocol: {{ abaco_api_protocol }}