---

{% for service in agave_services %}

{{ service.name }}:
    image: {{ service.image }}
{% if service.environment %}
    environment:
{% for var, value in service.environment.items() %}
       - '{{ var }}={{ value }}'
{% endfor %}
{% endif %}
{% if service.ports %}
    ports:
{% for host_port, container_port in service.ports.items() %}
       - '{{ host_port }}:{{ container_port }}'
{% endfor %}
{% endif %}
{% if service.volumes %}
    volumes:
{% for host_path, container_path in service.volumes.items() %}
       - '{{ host_path }}:{{ container_path }}'
{% endfor %}
{% endif %}

{% endfor %}